* {
    font-family: Tahoma, sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #28444c;
    color: white;
}

header h3 {
    margin: 0;
}

header nav a {
    color: white;
    margin: 10px;
    padding: 5px;
}

#mainSection {
    background-color: #c07c2c;
    padding: 40px 200px;
}

#mainSection h2{
    color: white;
    text-align: center;

}

#mainSection p{
    color: white;
    text-align: justify;
}

#subscribeSection{
    display: flex;
    justify-content: center;
    background-color: #28444c;
    color: white;
}

#subscribeSection p {
    margin-right: 30px;
}

#subscribeSection form{
    display: flex;
    margin: 16px;
}

#subscribeSection form button{
    background-color: #c07c2c;
    color: white;
}

#imageSection {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

#imageSection div {
    text-align: center;
}

footer {
    text-align: center;
    background-color: #28444c;
    padding: 16px;
    color: white;
}
